<div class="container">
  <div class="wrapper">
    <div class="info">
      <h2>{{currentDate | date:'EEEE, MMMM d'}}</h2>
      <span>{{isNotCompleteList.length + isCompleteList.length}} Active Tasks</span>
    </div>
    <div>
      <ul class="ul">
        <li class="custom-btn disabled li" (click)="toggleTask(0)">Incomplete Tasks </li> i
        <li class="custom-btn li" (click)="toggleTask(1)" [ngStyle]="{'color': isDisable}">Complete Tasks</li>
      </ul>
    </div>
    <form class="search" [formGroup]="searchForm">
      <input type="text" class="input" placeholder="Enter a task..." formControlName="searchItem">
      <button class="custom-btn add input-group-append" (click)="addTask()" [disabled]="!searchForm.valid">Add
        Task</button>
    </form>
    <hr>
    <ng-container *ngIf="isComplete">
      <div class="tasks" *ngFor="let item of isCompleteList;">
        <input type="checkbox" (click)="toggleCompletion(item)" checked>
        <label for="" class="h-line"> {{item.name}}<i class="far fa-trash-alt" (click)="removeTask(item)"></i></label>
        <hr>
      </div>

    </ng-container>

    <ng-container *ngIf='!isComplete'>
      <div class="tasks" *ngFor="let item of isNotCompleteList;">
        <input type="checkbox" (click)="toggleCompletion(item)">
        <label for="" class="h-line"> {{item.name}}<i class="far fa-trash-alt" (click)="removeTask(item)"></i></label>
        <hr>
      </div>
    </ng-container>

  </div>
</div>