.container {
    background-color: #393f49;
    position: absolute;
    top: 15%;
    right: 15%;
    height: 71%;
    overflow: auto;
    width: 70%;   
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    border-radius: 1%;
}

.wrapper {
    padding: .2rem 2rem;
    /* position: relative; */
}

.wrapper h2 {
    margin-bottom: .1rem;
    color: #fff;
}

.wrapper span {
    color: #4e90a5;
    font-size: .9rem;
    font-weight: 100;  
}

.ul {
    position: absolute;
    top: 5%;
    left: 68%;
}

.li {
    text-decoration: none;
    display: inline-block;
    padding: 1.6rem;
    white-space: nowrap;
}

.custom-btn {
    color: #fff;
    border: 0;
    cursor: pointer;
    font-family: inherit;
}

.custom-btn:active {
    transform: scale(0.98);
}

button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

.search .input {
    background-color: #fff;
    border: 0;
    font-size: 16px;
    padding: 16px;
    margin: 2.4rem 0;
    height: 40px;
}

button {
    background-color: var(--main-color);
    height: 40.9px;
    padding-bottom: 2px;
    font-size: 16px; 
}

.btn:focus, button:focus
.input:focus {
    outline: none;
}

.h-line {
    margin-bottom: 0;
    padding-bottom: 0;
}

hr {
    margin: 15px 0;
    /* padding-bottom: ; */
}

.tasks {
    color: #fff;
    font-size: 1.6rem;
    position: relative;
}

.fa, .far, .fas {
    position: absolute;
    right: 3%;
}

input[type=checkbox] {
    width: 3%;
}


/* Mobile Responsiveness */
@media(max-width: 1300px) {
    .ul {
        margin-top: -2.2rem;
        margin-left: -9rem;       
    }
    .li {
        font-size: 1.5rem;
        padding: 0;        
    }
}
@media(max-width: 800px) {
    .info h2 {
        font-size: 2rem;
    }
    .ul {
        margin-top: -2.2rem;
    }
    .li {
        font-size: 1.5rem;
    }
    
    .wrapper {
        padding: .2rem 2rem;
    }
    /* .search .input {
        font-size: 13px;
        padding: 16px;
        margin: 2rem 0;
        height: 30px;
    } */

/* button {
    height: 32.9px;
    padding-bottom: 2px;
    font-size: 13px; 
} */
}

@media(max-width: 460px) {
    .info h2 {
        font-size: 1.5rem;
        font-weight: 500;
    }
    .info span {
        font-size: .8rem;
    }
    .ul {
        top: 8%;
        padding:  0;
        margin-left: 0;

    }
    .li {
        font-size: 1rem;
        padding: 0;       
    }
    .search .input {
        font-size: 10px;
        padding: 12px;
        height: 30px;
    }
    button {
        height: 30.8px;
        padding-bottom: 1px;
        font-size: 10px; 
    }
    .tasks label {
        font-size: 1.5rem;
    }
    i {
        font-size: 1.3rem;
    }

    @media (max-width: 380px) {
        .ul {
            top: 6.9%;
        }
        .info h2 {
            font-size: 1.3rem;
        }
    }

}

